<div>
  <form action='/articles' method='post' class="search">
    <input type="text"name="search" placeholder="Search">
    <input class="submit" type="submit" value="Go!">
  </form>
</div>
<div class="container">
</div>
